%%Panel.HTMLHead%%
    <body>
        %%Panel.DrawerMenu%%
        <div class="page col-2">
            %%Panel.Header%%
            <div class="main container">
                <div class="inner">
                    %%Panel.WrapperBanner%%
                  
                    <div class="row">
                        <div class="Left col-md-3 col-sm-3 " id="LayoutColumn1">
                           <!--  %%Panel.SideSubPageList%% -->
                            <!-- %%Panel.SideCategoryAccordion%% -->
                            %%Panel.SideNewProducts%%
                        </div>
                        <div class="Content col-md-9 col-sm-9" id="LayoutColumn2">
                            <div class="BlockContent PageContent">
                              <h1 class="TitleHeading">%%GLOBAL_PageTitle%%</h1>
                                
                                %%GLOBAL_PageContent%%
                                
                            </div>
                            %%Panel.PageComments%%
                            %%Banner.BottomBanner%%
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            %%Panel.Footer%%
        </div>
    </body>
</html>
