<table style="border-top: none; margin: 0;">
	<tbody>
		<tr>
			<td style="width: 220px; text-align: center; vertical-align: middle; padding: 10px 0; border: none;">
				<a href="http://www.ablondesmoment.com/2015/01/leopard-x-cranberry.html">
					<img class="__mce_add_custom__" style="border: 5px solid #f2f2f2; width: 137px; height: 166px;" title="creative.png" src="https://cdn3.bigcommerce.com/s-r7keld18/product_images/uploaded_images/ablondesmoment.png?t=1421964593" alt="creative.png" width="137" height="166" /></a>
				<p style="font-size: 12px;">A Blonde's Moment</p>
				<p style="font-size: 11px; font-style: italic;">January 2014</p>
			</td>
			<td style="width: 220px; text-align: center; vertical-align: middle; padding: 10px 0; border: none;"><a href="http://clatl.com/atlanta/julie-brown-the-sustainable-designer/Content?oid=13050156">
				<img class="__mce_add_custom__" style="border: 5px solid #f2f2f2; width: 137px; height: 166px;" title="creative.png" src="http://julie-bee-amp--039-s.mybigcommerce.com/product_images/uploaded_images/creative.png" alt="creative.png" width="137" height="166" /></a>
			<p style="font-size: 12px;">Creative Loafing</p>
			<p style="font-size: 11px; font-style: italic;">December 2014</p>
			</td>
			<td style="width: 220px; text-align: center; vertical-align: middle; padding: 10px 0; border: none;"><a href="http://www.nku.edu/features/2014/november/juliebee.html">
				<img class="__mce_add_custom__" style="border: 5px solid #f2f2f2; width: 137px; height: 166px;" title="northern.png" src="http://julie-bee-amp--039-s.mybigcommerce.com/product_images/uploaded_images/northern.png" alt="northern.png" width="137" height="166" /></a>
			<p style="font-size: 12px;">Northern Kentucky University</p>
			<p style="font-size: 11px; font-style: italic;">November 2014</p>
			</td>
			<td style="width: 220px; text-align: center; vertical-align: middle; padding: 10px 0; border: none;"><a href="http://ablondesmoment.com/2014/11/a-day-with-julie-bees/">
				<img class="__mce_add_custom__" style="border: 5px solid #f2f2f2; width: 137px; height: 166px;" title="a-blonde.png" src="http://julie-bee-amp--039-s.mybigcommerce.com/product_images/uploaded_images/a-blonde.png" alt="a-blonde.png" width="137" height="166" /></a>
			<p style="font-size: 12px;">A Blonde's Moment</p>
			<p style="font-size: 11px; font-style: italic;">November 2014</p>
			</td>
		</tr>
		<tr>
		<td style="width: 220px; text-align: center; vertical-align: middle; padding: 10px 0; border: none;"><a href="https://soundcloud.com/dana-barrett-show/women-on-wednesday-julie-bees-september-3rd-2014">
			<img class="__mce_add_custom__" style="border: 5px solid #f2f2f2; width: 136px; height: 165px;" title="dana.png" src="http://julie-bee-amp--039-s.mybigcommerce.com/product_images/uploaded_images/dana.png" alt="dana.png" width="137" height="166" /></a>
		<p style="font-size: 12px;">THE DANA BARRETT SHOW</p>
		<p style="font-size: 11px; font-style: italic;">October 2014</p>
		</td>
		<td style="width: 220px; text-align: center; vertical-align: middle; padding: 10px 0; border: none;"><a href="http://www.inc.com/eric-holtzclaw/selling-fud-redefined.html"> <img class="__mce_add_custom__" style="border: 5px solid #f2f2f2; width: 136px; height: 165px;" title="inc.png" src="http://julie-bee-amp--039-s.mybigcommerce.com/product_images/uploaded_images/inc.png" alt="inc.png" width="137" height="166" /></a>
		<p style="font-size: 12px;">INC. MAGAZINE</p>
		<p style="font-size: 11px; font-style: italic;">October 2014</p>
		</td>
		<td style="width: 220px; text-align: center; vertical-align: middle; padding: 10px 0; border: none;"><a href="http://bellesandrebelles.blogspot.com/2014/09/providence-x-julie-bees.html"> <img class="__mce_add_custom__" style="border: 5px solid #f2f2f2; width: 136px; height: 165px;" title="bellesrebells.png" src="http://julie-bee-amp--039-s.mybigcommerce.com/product_images/uploaded_images/bellesrebells.png" alt="bellesrebells.png" width="137" height="166" /></a>
		<p style="font-size: 12px;">BELLES &amp; REBELLES</p>
		<p style="font-size: 11px; font-style: italic;">September 2014</p>
		</td>
		<td style="width: 220px; text-align: center; vertical-align: middle; padding: 10px 0; border: none;"><a href="http://start-opia.com/start-opia-radio-episode-7-female-entrepreneurs/"> <img class="__mce_add_custom__" style="border: 5px solid #f2f2f2; width: 136px; height: 165px;" title="startopia.png" src="http://julie-bee-amp--039-s.mybigcommerce.com/product_images/uploaded_images/startopia.png" alt="startopia.png" width="137" height="166" /></a>
		<p style="font-size: 12px;">START-OPIA</p>
		<p style="font-size: 11px; font-style: italic;">August 2014</p>
		</td>
		</tr>
		<tr>
		<td style="width: 220px; text-align: center; vertical-align: middle; padding: 10px 0; border: none;"><a href="http://lamodadellavita.com/tag/julie-bees/"> <img class="__mce_add_custom__" style="border: 5px solid #f2f2f2; width: 136px; height: 165px;" title="lamode.png" src="http://julie-bee-amp--039-s.mybigcommerce.com/product_images/uploaded_images/lamode.png" alt="lamode.png" width="137" height="166" /></a>
		<p style="font-size: 12px;">LA MODA DELLA VITA</p>
		<p style="font-size: 11px; font-style: italic;">August 2014</p>
		</td>
		<td style="width: 220px; text-align: center; vertical-align: middle; padding: 10px 0; border: none;"><a href="http://supperclubofthesouth.com/tag/julie-bees/"> <img class="__mce_add_custom__" style="border: 5px solid #f2f2f2; width: 136px; height: 165px;" title="supper-club.png" src="http://julie-bee-amp--039-s.mybigcommerce.com/product_images/uploaded_images/supper-club.png" alt="supper-club.png" width="137" height="166" /></a>
		<p style="font-size: 12px;">SUPPER CLUB</p>
		<p style="font-size: 11px; font-style: italic;">August 2014</p>
		</td>
		<td style="width: 220px; text-align: center; vertical-align: middle; padding: 10px 0; border: none;"><a href="http://www.mydigitalpublication.com/publication/?m=7826&amp;l=1"> <img class="__mce_add_custom__" style="border: 5px solid #f2f2f2; width: 136px; height: 165px;" title="atlanta-season.png" src="http://julie-bee-amp--039-s.mybigcommerce.com/product_images/uploaded_images/atlanta-season.png" alt="atlanta-season.png" width="137" height="166" /></a>
		<p style="font-size: 12px;">ATLANTA SOCIAL SEASON</p>
		<p style="font-size: 11px; font-style: italic;">August 2014</p>
		</td>
		<td style="width: 220px; text-align: center; vertical-align: middle; padding: 10px 0; border: none;"><a href="http://tboseen.com/fashion/julie-b-saw-a-need-in-womens-shoes-so-she-filled-it-20140619/?utm_campaign=socialflow&amp;utm_source=Twitter&amp;utm_medium=Social"> <img class="__mce_add_custom__" style="border: 5px solid #f2f2f2; width: 136px; height: 165px;" title="tboseen.png" src="http://julie-bee-amp--039-s.mybigcommerce.com/product_images/uploaded_images/tboseen.png" alt="tboseen.png" width="137" height="166" /></a>
		<p style="font-size: 12px;">TBOSEEN</p>
		<p style="font-size: 11px; font-style: italic;">June 2014</p>
		</td>
		</tr>
		<tr>
		<td style="width: 220px; text-align: center; vertical-align: middle; padding: 10px 0; border: none;"><a href="http://www.readers.com/blog/summer-trends-you-can-wear"> <img class="__mce_add_custom__" style="border: 5px solid #f2f2f2; width: 136px; height: 165px;" title="readerscom.png" src="http://julie-bee-amp--039-s.mybigcommerce.com/product_images/uploaded_images/readerscom.png" alt="readerscom.png" width="137" height="166" /></a>
		<p style="font-size: 12px;">READERS.COM</p>
		<p style="font-size: 11px; font-style: italic;">June 2014</p>
		</td>
		<td style="width: 220px; text-align: center; vertical-align: middle; padding: 10px 0; border: none;"><a href="http://instagram.com/p/o5kodBM6Zf/#"> <img class="__mce_add_custom__" style="border: 5px solid #f2f2f2; width: 136px; height: 165px;" title="stushi-gal.png" src="http://julie-bee-amp--039-s.mybigcommerce.com/product_images/uploaded_images/stushi-gal.png" alt="stushi-gal.png" width="137" height="166" /></a>
		<p style="font-size: 12px;">STUSHI GAL STYLE</p>
		<p style="font-size: 11px; font-style: italic;">June 2014</p>
		</td>
		<td style="width: 220px; text-align: center; vertical-align: middle; padding: 10px 0; border: none;"><a href="http://styleblueprint.com/atlanta/everyday/sb-atlanta-may-2014-finds/?utm_source=StyleBlueprint+Atlanta&amp;utm_campaign=276360cefc-RSS_EMAIL_CAMPAIGN&amp;utm_medium=email&amp;utm_term=0_22ecf114d9-276360cefc-197785353"> <img class="__mce_add_custom__" style="border: 5px solid #f2f2f2; width: 136px; height: 165px;" title="styleblue.png" src="http://julie-bee-amp--039-s.mybigcommerce.com/product_images/uploaded_images/styleblue.png" alt="styleblue.png" width="137" height="166" /></a>
		<p style="font-size: 12px;">STYLE BLUEPRINT</p>
		<p style="font-size: 11px; font-style: italic;">May 2014</p>
		</td>
		<td style="width: 220px; text-align: center; vertical-align: middle; padding: 10px 0; border: none;"><a href="http://www.ladiesdc.org/blog-categories/5-questions-with-julie-brown"> <img class="__mce_add_custom__" style="border: 5px solid #f2f2f2; width: 136px; height: 165px;" title="ladies-dc.png" src="http://julie-bee-amp--039-s.mybigcommerce.com/product_images/uploaded_images/ladies-dc.png" alt="ladies-dc.png" width="137" height="166" /></a>
		<p style="font-size: 12px;">LADIES DC</p>
		<p style="font-size: 11px; font-style: italic;">May 2014</p>
		</td>
		</tr>
		<tr>
		<td style="width: 220px; text-align: center; vertical-align: middle; padding: 10px 0; border: none;"><a href="http://www.insideshopper.com/fashion-speak/2014/05/julies-bees/"> <img class="__mce_add_custom__" style="border: 5px solid #f2f2f2; width: 136px; height: 165px;" title="inside-shopper.png" src="http://julie-bee-amp--039-s.mybigcommerce.com/product_images/uploaded_images/inside-shopper.png" alt="inside-shopper.png" width="137" height="166" /></a>
		<p style="font-size: 12px;">INSIDE SHOPPER</p>
		<p style="font-size: 11px; font-style: italic;">May 2014</p>
		</td>
		<td style="width: 220px; text-align: center; vertical-align: middle; padding: 10px 0; border: none;"><a href="http://commandress.com/smart-chic-made-in-the-usa-head-to-toe-style-julie-bees-shoes-dobbin-collette-dress-alex-ani-birthstone-charm-bangle-ben-amun-venetian-glass-earrings/"> <img class="__mce_add_custom__" style="border: 5px solid #f2f2f2; width: 136px; height: 165px;" title="commandress.png" src="http://julie-bee-amp--039-s.mybigcommerce.com/product_images/uploaded_images/commandress.png" alt="commandress.png" width="137" height="166" /></a>
		<p style="font-size: 12px;">COMMANDRESS</p>
		<p style="font-size: 11px; font-style: italic;">May 2014</p>
		</td>
		<td style="width: 220px; text-align: center; vertical-align: middle; padding: 10px 0; border: none;"><a href="http://www.fashionado.net/2014/04/eco-chic-with-julie-bees.html"> <img class="__mce_add_custom__" style="border: 5px solid #f2f2f2; width: 136px; height: 165px;" title="fashionade.png" src="http://julie-bee-amp--039-s.mybigcommerce.com/product_images/uploaded_images/fashionade.png" alt="fashionade.png" width="137" height="166" /></a>
		<p style="font-size: 12px;">FASHIONADO</p>
		<p style="font-size: 11px; font-style: italic;">April 2014</p>
		</td>
		<td style="width: 220px; text-align: center; vertical-align: middle; padding: 10px 0; border: none;"><a href="http://cortinsession.com/talking-shoes-julie-brown/"> <img class="__mce_add_custom__" style="border: 5px solid #f2f2f2; width: 136px; height: 165px;" title="cort-in-session.png" src="http://julie-bee-amp--039-s.mybigcommerce.com/product_images/uploaded_images/cort-in-session.png" alt="cort-in-session.png" width="137" height="166" /></a>
		<p style="font-size: 12px;">CORT IN SESSION</p>
		<p style="font-size: 11px; font-style: italic;">April 2014</p>
		</td>
		</tr>
		<tr>
		<td style="width: 220px; text-align: center; vertical-align: middle; padding: 10px 0; border: none;"><a href="http://phillyfunguide.com/events/julie-bee-s-trunk-show/"> <img class="__mce_add_custom__" style="border: 5px solid #f2f2f2; width: 136px; height: 165px;" title="phillyfun.png" src="http://julie-bee-amp--039-s.mybigcommerce.com/product_images/uploaded_images/phillyfun.png" alt="phillyfun.png" width="137" height="166" /></a>
		<p style="font-size: 12px;">PHILLY FUN GUIDE</p>
		<p style="font-size: 11px; font-style: italic;">April 2014</p>
		</td>
		<td style="width: 220px; text-align: center; vertical-align: middle; padding: 10px 0; border: none;"><a href="http://www.runningwithheels.com/index.php/2014/04/julie-bees-eco-friendly-shoes/"> <img class="__mce_add_custom__" style="border: 5px solid #f2f2f2; width: 136px; height: 165px;" title="runningwithheels.png" src="http://julie-bee-amp--039-s.mybigcommerce.com/product_images/uploaded_images/runningwithheels.png" alt="runningwithheels.png" width="137" height="166" /></a>
		<p style="font-size: 12px;">RUNNING WITH HEELS</p>
		<p style="font-size: 11px; font-style: italic;">April 2014</p>
		</td>
		<td style="width: 220px; text-align: center; vertical-align: middle; padding: 10px 0; border: none;"><a href="http://events.seattlepi.com/seattle_wa/events/show/370217479-julie-bees-trunk-show"> <img class="__mce_add_custom__" style="border: 5px solid #f2f2f2; width: 136px; height: 165px;" title="seattle-pi.png" src="http://julie-bee-amp--039-s.mybigcommerce.com/product_images/uploaded_images/seattle-pi.png" alt="seattle-pi.png" width="137" height="166" /></a>
		<p style="font-size: 12px;">SEATTLEPI</p>
		<p style="font-size: 11px; font-style: italic;">April 2014</p>
		</td>
		<td style="width: 220px; text-align: center; vertical-align: middle; padding: 10px 0; border: none;"><a href="http://www.ajc.com/weblogs/atlanta-bargain-hunter/2014/apr/21/earth-day-freebiesdeals/"><img class="__mce_add_custom__" style="border: 5px solid #f2f2f2; width: 137px; height: 166px;" title="atlanta-journal.png" src="http://julie-bee-amp--039-s.mybigcommerce.com/product_images/uploaded_images/atlanta-journal.png" alt="atlanta-journal.png" width="137" height="166" /></a>
		<p style="font-size: 12px;">ATLANTA JOURNAL CONSTITUTION</p>
		<p style="font-size: 11px; font-style: italic;">April 2014</p>
		</td>
		</tr>
		<tr>
		<td style="width: 220px; text-align: center; vertical-align: middle; padding: 10px 0; border: none;"><a href="http://www.senecaandspruce.com/blogs/blog/14323501-this-week-in-seattle-fashion-4-23-4-30"> <img class="__mce_add_custom__" style="border: 5px solid #f2f2f2; width: 136px; height: 165px;" title="sencaspruce.png" src="http://julie-bee-amp--039-s.mybigcommerce.com/product_images/uploaded_images/sencaspruce.png" alt="sencaspruce.png" width="137" height="166" /></a>
		<p style="font-size: 12px;">SENECA/SPRUCE</p>
		<p style="font-size: 11px; font-style: italic;">April 2014</p>
		</td>
		<td style="width: 220px; text-align: center; vertical-align: middle; padding: 10px 0; border: none;"><a href="http://www.seattlemag.com/junctions-tax-free-day-and-trunk-shows"> <img class="__mce_add_custom__" style="border: 5px solid #f2f2f2; width: 136px; height: 165px;" title="seattlemag.png" src="http://julie-bee-amp--039-s.mybigcommerce.com/product_images/uploaded_images/seattlemag.png" alt="seattlemag.png" width="137" height="166" /></a>
		<p style="font-size: 12px;">SEATTLE MAGAZINE</p>
		<p style="font-size: 11px; font-style: italic;">April 2014</p>
		</td>
		<td style="width: 220px; text-align: center; vertical-align: middle; padding: 10px 0; border: none;"><a href="http://www.zvents.com/seattle_wa/events/show/370217479-julie-bees-trunk-show"> <img class="__mce_add_custom__" style="border: 5px solid #f2f2f2; width: 136px; height: 165px;" title="zvents.png" src="http://julie-bee-amp--039-s.mybigcommerce.com/product_images/uploaded_images/zvents.png" alt="zvents.png" width="137" height="166" /></a>
		<p style="font-size: 12px;">ZVENTS</p>
		<p style="font-size: 11px; font-style: italic;">April 2014</p>
		</td>
		<td style="width: 220px; text-align: center; vertical-align: middle; padding: 10px 0; border: none;"><a href="http://thetwincrowd.blogspot.com/2014/04/julie-bees-q.html"> <img class="__mce_add_custom__" style="border: 5px solid #f2f2f2; width: 136px; height: 165px;" title="the-twin-crowd.png" src="http://julie-bee-amp--039-s.mybigcommerce.com/product_images/uploaded_images/the-twin-crowd.png" alt="the-twin-crowd.png" width="137" height="166" /></a>
		<p style="font-size: 12px;">THE TWIN CROWD</p>
		<p style="font-size: 11px; font-style: italic;">April 2014</p>
		</td>
		</tr>
		<tr>
		<td style="width: 220px; text-align: center; vertical-align: middle; padding: 10px 0; border: none;"><a href="http://www.upcomingevents.com/events/philadelphia/me-too-boutique/julie-bees-trunk-show-18401.asp"> <img class="__mce_add_custom__" style="border: 5px solid #f2f2f2; width: 136px; height: 165px;" title="upcomingevent.png" src="http://julie-bee-amp--039-s.mybigcommerce.com/product_images/uploaded_images/upcomingevent.png" alt="upcomingevent.png" width="137" height="166" /></a>
		<p style="font-size: 12px;">UPCOMING EVENTS</p>
		<p style="font-size: 11px; font-style: italic;">April 2014</p>
		</td>
		<td style="width: 220px; text-align: center; vertical-align: middle; padding: 10px 0; border: none;"><a href="http://tumblr.instyle.com/tagged/Conscious-Consumerism/"> <img class="__mce_add_custom__" style="border: 5px solid #f2f2f2; width: 136px; height: 165px;" title="insideinstyle.png" src="http://julie-bee-amp--039-s.mybigcommerce.com/product_images/uploaded_images/insideinstyle.png" alt="insideinstyle.png" width="137" height="166" /></a>
		<p style="font-size: 12px;">INSIDE INSTYLE</p>
		<p style="font-size: 11px; font-style: italic;">March 2014</p>
		</td>
		<td style="width: 220px; text-align: center; vertical-align: middle; padding: 10px 0; border: none;"><a href="http://www.washingtonpost.com/express/wp/2014/03/28/bodrato-truffles-and-a-julie-bee-trunk-show-make-this-weeks-grab-bag/"> <img class="__mce_add_custom__" style="border: 5px solid #f2f2f2; width: 136px; height: 165px;" title="wapost.png" src="http://julie-bee-amp--039-s.mybigcommerce.com/product_images/uploaded_images/wapost.png" alt="wapost.png" width="137" height="166" /></a>
		<p style="font-size: 12px;">WA POST EXPRESS</p>
		<p style="font-size: 11px; font-style: italic;">March 2014</p>
		</td>
		<td style="width: 220px; text-align: center; vertical-align: middle; padding: 10px 0; border: none;"><a href="http://thatworkinggirl.com/2014/01/28/hello-working-girl-julie-brown-of-julie-bees/"> <img class="__mce_add_custom__" style="border: 5px solid #f2f2f2; width: 136px; height: 165px;" title="the-working-girl-feb.png" src="http://julie-bee-amp--039-s.mybigcommerce.com/product_images/uploaded_images/the-working-girl-feb.png" alt="the-working-girl-feb.png" width="137" height="166" /></a>
		<p style="font-size: 12px;">THE WORKING GIRL</p>
		<p style="font-size: 11px; font-style: italic;">February 2014</p>
		</td>
		</tr>
		<tr>
		<td style="width: 220px; text-align: center; vertical-align: middle; padding: 10px 0; border: none;"><a title="Julie Bees The Working Girl" href="http://thatworkinggirl.com/2014/01/02/post-holiday-gift-guide-treat-yourself/"><img class="__mce_add_custom__" style="border: 5px solid #f2f2f2; width: 137px; height: 166px;" title="the-working-girl.png" src="http://julie-bee-amp--039-s.mybigcommerce.com/product_images/uploaded_images/the-working-girl.png" alt="the-working-girl.png" width="137" height="166" /></a>
		<p style="font-size: 12px;">THE WORKING&nbsp;GIRL</p>
		<p style="font-size: 11px; font-style: italic;">January 2014</p>
		</td>
		<td style="width: 220px; text-align: center; vertical-align: middle; padding: 10px 0; border: none;"><a href="http://www.modernluxury.com/jezebel/digital-edition"><img class="__mce_add_custom__" style="border: 5px solid #f2f2f2; width: 137px; height: 166px;" title="jezebel.png" src="http://julie-bee-amp--039-s.mybigcommerce.com/product_images/uploaded_images/jezebel.png" alt="jezebel.png" width="137" height="166" /></a>
		<p style="font-size: 12px;">JEZEBEL</p>
		<p style="font-size: 11px; font-style: italic;">December 2013</p>
		</td>
		<td style="width: 220px; text-align: center; vertical-align: middle; padding: 10px 0; border: none;"><a href="http://travelfashiongirl.com/black-friday-cyber-monday-travel-gear-offers-get-scoop-sales/"><img class="__mce_add_custom__" style="border: 5px solid #f2f2f2; width: 137px; height: 166px;" title="travelfashion.png" src="http://julie-bee-amp--039-s.mybigcommerce.com/product_images/uploaded_images/travelfashion.png" alt="travelfashion.png" width="137" height="166" /></a>
		<p style="font-size: 12px;">TRAVEL FASHION GIRL</p>
		<p style="font-size: 11px; font-style: italic;">November 2013</p>
		</td>
		<td style="width: 220px; text-align: center; vertical-align: middle; padding: 10px 0; border: none;"><a href="http://www.oceanascanvas.com/julie-bees-american-made-footwear/"><img class="__mce_add_custom__" style="border: 5px solid #f2f2f2; width: 137px; height: 166px;" title="oceana.png" src="http://julie-bee-amp--039-s.mybigcommerce.com/product_images/uploaded_images/oceana.png" alt="oceana.png" width="137" height="166" /></a>
		<p style="font-size: 12px;">OCEANA'S CANVAS</p>
		<p style="font-size: 11px; font-style: italic;">October 2013</p>
		</td>
		</tr>
		<tr>
		<td style="width: 220px; text-align: center; vertical-align: middle; padding: 10px 0; border: none;"><a href="http://www.justluxe.com/fine-living/fashion/feature-1949316.php"><img class="__mce_add_custom__" style="border: 5px solid #f2f2f2; width: 137px; height: 166px;" title="just-luxe.png" src="http://julie-bee-amp--039-s.mybigcommerce.com/product_images/uploaded_images/just-luxe.png" alt="just-luxe.png" width="137" height="166" /></a>
		<p style="font-size: 12px;">JUST LUXE</p>
		<p style="font-size: 11px; font-style: italic;">August 2013</p>
		</td>
		<td style="width: 220px; text-align: center; vertical-align: middle; padding: 10px 0; border: none;"><a href="http://www.wwd.com/footwear-news/markets/5-questions-for-julie-brown-of-julie-bees-7052274?module=Footwear%20News-Markets-third"><img class="__mce_add_custom__" style="border: 5px solid #f2f2f2; width: 137px; height: 166px;" title="footwear-news.png" src="http://julie-bee-amp--039-s.mybigcommerce.com/product_images/uploaded_images/footwear-news.png" alt="footwear-news.png" width="137" height="166" /></a>
		<p style="font-size: 12px;">FOOTWEAR NEWS</p>
		<p style="font-size: 11px; font-style: italic;">July 2013</p>
		</td>
		<td style="width: 220px; text-align: center; vertical-align: middle; padding: 10px 0; border: none;"><a href="http://www.myjuliebees.com/about/footwear-plus"><img class="__mce_add_custom__" style="border: 5px solid #f2f2f2; width: 137px; height: 166px;" title="footwear-plus.png" src="http://julie-bee-amp--039-s.mybigcommerce.com/product_images/uploaded_images/footwear-plus.png" alt="footwear-plus.png" width="137" height="166" /></a>
		<p style="font-size: 12px;">FOOTWEAR PLUS</p>
		<p style="font-size: 11px; font-style: italic;">July 2013</p>
		</td>
		<td style="width: 220px; text-align: center; vertical-align: middle; padding: 10px 0; border: none;"><a href="http://www.idlewild-south.com/2013/07/woman-of-style-julie-brown-of-julie-bees.html"><img class="__mce_add_custom__" style="border: 5px solid #f2f2f2; width: 137px; height: 166px;" title="idlewild-south.png" src="http://julie-bee-amp--039-s.mybigcommerce.com/product_images/uploaded_images/idlewild-south.png" alt="idlewild-south.png" width="137" height="166" /></a>
		<p style="font-size: 12px;">IDLEWILD SOUTH</p>
		<p style="font-size: 11px; font-style: italic;">July 2013</p>
		</td>
		</tr>
		<tr>
		<td style="width: 220px; text-align: center; vertical-align: middle; padding: 10px 0; border: none;"><a href="http://www.usalovelist.com/2013/06/eco-fashion/#more-5385"><img class="__mce_add_custom__" style="border: 5px solid #f2f2f2; width: 137px; height: 166px;" title="usa-love-list.png" src="http://julie-bee-amp--039-s.mybigcommerce.com/product_images/uploaded_images/usa-love-list.png" alt="usa-love-list.png" width="137" height="166" /></a>
		<p style="font-size: 12px;">USA LOVE LIST</p>
		<p style="font-size: 11px; font-style: italic;">June 2013</p>
		</td>
		<td style="width: 220px; text-align: center; vertical-align: middle; padding: 10px 0; border: none;"><a href="http://thefashionlist.com/conscious-clothing-julie-bee%E2%80%99s-footwear/"><img class="__mce_add_custom__" style="border: 5px solid #f2f2f2; width: 137px; height: 166px;" title="fashionlist.png" src="http://julie-bee-amp--039-s.mybigcommerce.com/product_images/uploaded_images/fashionlist.png" alt="fashionlist.png" width="137" height="166" /></a>
		<p style="font-size: 12px;">THE FASHION LIST</p>
		<p style="font-size: 11px; font-style: italic;">May 2013</p>
		</td>
		<td style="width: 220px; text-align: center; vertical-align: middle; padding: 10px 0; border: none;"><a href="http://www.accessoriesmagazine.com/69971/item-of-the-day-731#.UtNSHWRDv4s"><img class="__mce_add_custom__" style="border: 5px solid #f2f2f2; width: 137px; height: 166px;" title="accessories-mag.png" src="http://julie-bee-amp--039-s.mybigcommerce.com/product_images/uploaded_images/accessories-mag.png" alt="accessories-mag.png" width="137" height="166" /></a>
		<p style="font-size: 12px;">ACCESSORIES MAGAZINE</p>
		<p style="font-size: 11px; font-style: italic;">May 2013</p>
		</td>
		<td style="width: 220px; text-align: center; vertical-align: middle; padding: 10px 0; border: none;"><a href="http://www.myjuliebees.com/about/atlanta-magazine"> <img class="__mce_add_custom__" style="border: 5px solid #f2f2f2; width: 137px; height: 166px;" title="atlanta-mag.png" src="http://julie-bee-amp--039-s.mybigcommerce.com/product_images/uploaded_images/atlanta-mag.png" alt="atlanta-mag.png" width="137" height="166" /></a>
		<p style="font-size: 12px;">ATLANTA MAGAZINE</p>
		<p style="font-size: 11px; font-style: italic;">April 2013</p>
		</td>
		</tr>
		<tr>
		<td style="width: 220px; text-align: center; vertical-align: middle; padding: 10px 0; border: none;"><a href="http://firsttoknow.com/6-cool-eco-chic-fashion-lines/"><img class="__mce_add_custom__" style="border: 5px solid #f2f2f2; width: 137px; height: 166px;" title="first-to-know.png" src="http://julie-bee-amp--039-s.mybigcommerce.com/product_images/uploaded_images/first-to-know.png" alt="first-to-know.png" width="137" height="166" /></a>
		<p style="font-size: 12px;">FIRST TO KNOW</p>
		<p style="font-size: 11px; font-style: italic;">April 2013</p>
		</td>
		<td style="width: 220px; text-align: center; vertical-align: middle; padding: 10px 0; border: none;"><a href="http://www.atlantaintownpaper.com/2013/04/eco-friendly-fashionable-shoes-at-julie-bees/"><img class="__mce_add_custom__" style="border: 5px solid #f2f2f2; width: 137px; height: 166px;" title="atlanta-intown.png" src="http://julie-bee-amp--039-s.mybigcommerce.com/product_images/uploaded_images/atlanta-intown.png" alt="atlanta-intown.png" width="137" height="166" /></a>
		<p style="font-size: 12px;">ATLANTA INTOWN</p>
		<p style="font-size: 11px; font-style: italic;">April 2013</p>
		</td>
		<td style="width: 220px; text-align: center; vertical-align: middle; padding: 10px 0; border: none;"><a href="http://apriltrigg.com/2013/04/put-your-best-fashion-foot-forward/"><img class="__mce_add_custom__" style="border: 5px solid #f2f2f2; width: 137px; height: 166px;" title="april-trigg.png" src="http://julie-bee-amp--039-s.mybigcommerce.com/product_images/uploaded_images/april-trigg.png" alt="april-trigg.png" width="137" height="166" /></a>
		<p style="font-size: 12px;">APRIL TRIGG</p>
		<p style="font-size: 11px; font-style: italic;">April 2013</p>
		</td>
		<td style="width: 220px; text-align: center; vertical-align: middle; padding: 10px 0; border: none;"><a href="http://pinkklipstick.com/trunk-show-with-julie-bees/"><img class="__mce_add_custom__" style="border: 5px solid #f2f2f2; width: 137px; height: 166px;" title="pinklipstick.png" src="http://julie-bee-amp--039-s.mybigcommerce.com/product_images/uploaded_images/pinklipstick.png" alt="pinklipstick.png" width="137" height="166" /></a>
		<p style="font-size: 12px;">PINKKLIPSTICK</p>
		<p style="font-size: 11px; font-style: italic;">March 2013</p>
		</td>
		</tr>
		<tr>
		<td style="width: 220px; text-align: center; vertical-align: middle; padding: 10px 0; border: none;"><a href="http://www.southeastgreen.com/index.php/news/metro-atl/8274-march-forth-in-style-and-put-your-best-foot-forward-with-julie-bee-s"><img class="__mce_add_custom__" style="border: 5px solid #f2f2f2; width: 137px; height: 166px;" title="southeast-green.png" src="http://julie-bee-amp--039-s.mybigcommerce.com/product_images/uploaded_images/southeast-green.png" alt="southeast-green.png" width="137" height="166" /></a>
		<p style="font-size: 12px;">SOUTHEAST GREEN</p>
		<p style="font-size: 11px; font-style: italic;">March 2013</p>
		</td>
		<td style="width: 220px; text-align: center; vertical-align: middle; padding: 10px 0; border: none;"><a href="http://www.myjuliebees.com/about/buckhaven-lifestyle"><img class="__mce_add_custom__" style="border: 5px solid #f2f2f2; width: 137px; height: 166px;" title="buckhaven.png" src="http://julie-bee-amp--039-s.mybigcommerce.com/product_images/uploaded_images/buckhaven.png" alt="buckhaven.png" width="137" height="166" /></a>
		<p style="font-size: 12px;">BUCKHAVEN</p>
		<p style="font-size: 11px; font-style: italic;">January 2013</p>
		</td>
		<td style="width: 220px; text-align: center; vertical-align: middle; padding: 10px 0; border: none;"><a href="http://www.myjuliebees.com/about/eco-beautiful"><img class="__mce_add_custom__" style="border: 5px solid #f2f2f2; width: 137px; height: 166px;" title="eco.png" src="http://julie-bee-amp--039-s.mybigcommerce.com/product_images/uploaded_images/eco.png" alt="eco.png" width="137" height="166" /></a>
		<p style="font-size: 12px;">ECO-BEAUTIFUL WEDDINGS</p>
		<p style="font-size: 11px; font-style: italic;">Winter/Spring 2013</p>
		</td>
		<td style="width: 220px; text-align: center; vertical-align: middle; padding: 10px 0; border: none;"><a href="http://www.myjuliebees.com/about/YUELUO"><img class="__mce_add_custom__" style="border: 5px solid #f2f2f2; width: 137px; height: 166px;" title="lou.png" src="http://julie-bee-amp--039-s.mybigcommerce.com/product_images/uploaded_images/lou.png" alt="lou.png" width="137" height="166" /></a>
		<p style="font-size: 12px;">LOU</p>
		<p style="font-size: 11px; font-style: italic;">Summer 2013</p>
		</td>
		</tr>
		<tr>
		<td style="width: 220px; text-align: center; vertical-align: middle; padding: 10px 0; border: none;"><a href="http://www.myjuliebees.com/about/YUELUO"><img class="__mce_add_custom__" style="border: 5px solid #f2f2f2; width: 137px; height: 166px;" title="yue.png" src="http://julie-bee-amp--039-s.mybigcommerce.com/product_images/uploaded_images/yue.png" alt="yue.png" width="137" height="166" /></a>
		<p style="font-size: 12px;">YUE</p>
		<p style="font-size: 11px; font-style: italic;">Summer 2013</p>
		</td>
		<td style="width: 220px; text-align: center; vertical-align: middle; padding: 10px 0; border: none;"><a href="http://www.myjuliebees.com/about/atlantan"><img class="__mce_add_custom__" style="border: 5px solid #f2f2f2; width: 137px; height: 166px;" title="atlantan.png" src="http://julie-bee-amp--039-s.mybigcommerce.com/product_images/uploaded_images/atlantan.png" alt="atlantan.png" width="137" height="166" /></a>
		<p style="font-size: 12px;">ATLANTAN</p>
		<p style="font-size: 11px; font-style: italic;">Spring 2013</p>
		</td>
		<td style="width: 220px; text-align: center; vertical-align: middle; padding: 10px 0; border: none;"><a href="http://www.dailycandy.com/atlanta/article/139667/Julie-Bees-Footwear"><img class="__mce_add_custom__" style="border: 5px solid #f2f2f2; width: 137px; height: 166px;" title="dailycandy.png" src="http://julie-bee-amp--039-s.mybigcommerce.com/product_images/uploaded_images/dailycandy.png" alt="dailycandy.png" width="137" height="166" /></a>
		<p style="font-size: 12px;">DAILY CANDY</p>
		<p style="font-size: 11px; font-style: italic;">November 2012</p>
		</td>
		<td style="width: 220px; text-align: center; vertical-align: middle; padding: 10px 0; border: none;"><a href="http://danapop.com/the-pop-five-7/"><img class="__mce_add_custom__" style="border: 5px solid #f2f2f2; width: 137px; height: 166px;" title="danpop.png" src="http://julie-bee-amp--039-s.mybigcommerce.com/product_images/uploaded_images/danpop.png" alt="danpop.png" width="137" height="166" /></a>
		<p style="font-size: 12px;">DANAPOP</p>
		<p style="font-size: 11px; font-style: italic;">October 2012</p>
		</td>
		</tr>
	</tbody>
</table>