%%Panel.HTMLHead%%
    <body>
        %%Panel.DrawerMenu%%
        <div class="page blogpage col-2">
            %%Panel.Header%%
            <div class="main container">
                <div class="inner">
                    %%Panel.WrapperBanner%%
                    <div id="NewsBreadcrumb" class="Block Breadcrumb Moveable Panel">
                    	<ul class="last">
                    		<li><a href="%%GLOBAL_ShopPath%%">Home</a></li>
                    		<li>Blog</li>
                    	</ul>
                    </div>
                    <div class="row">
                    <div class="Left col-md-3 col-sm-3" id="LayoutColumn1">
                        %%Panel.BlogRecentPosts%%
                    </div>
                    <div class="Content col-md-9 col-sm-9" id="LayoutColumn2">
                        <div class="BlockContent PageContent">
                            <h1 class="TitleHeading">%%GLOBAL_BlogPageTitle%%</h1>
                            %%SNIPPET_RecentPostsContent%%
                            <div class="product-nav btm">
                                <div class="Block Moveable Panel PagingBottom" id="CategoryPagingBottom">
                                    <div class="CategoryPagination BloggingPagination" style="display: %%GLOBAL_HideSectionPaging%%">
                                        <div class="FloatLeft">
                                            %%GLOBAL_SectionPagingPrevious%%
                                        </div>
                                        <div class="FloatRight">
                                            %%GLOBAL_SectionPagingNext%%
                                        </div>
                                        <ul class="PagingList">
                                            %%GLOBAL_SectionPaging%%
                                        </ul>
                                    </div>
                                </div>
                                <br class="Clear">
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            %%Panel.Footer%%
        </div>
    </body>
</html>