%%Panel.HTMLHead%%
    <body>
        %%Panel.DrawerMenu%%
        <div class="page blogpostpage col-2">
            %%Panel.Header%%
            <div class="main container">
                <div class="inner">
                    %%Panel.WrapperBanner%%
                    %%Panel.NewsBreadcrumb%%
                    <div class="row">
                        <div class="Left equalize col-md-3 col-sm-3" id="LayoutColumn1">
                            %%Panel.BlogRecentPosts%%
                        </div>
                        <div class="Content equalize col-md-9 col-sm-9" id="LayoutColumn2">
                            %%Panel.PostContent%%
                            %%Panel.PostComments%%
                            %%Panel.NewsComments%%
                        </div>
                    </div>
                </div>
            </div>
            %%Panel.Footer%%
        </div>
    </body>
</html>