%%Panel.HTMLHead%%
    <body>
        %%Panel.DrawerMenu%%
        <div class="page brandpage">
            %%Panel.Header%%
            <div class="main container">
                <div class="inner">
                    %%Panel.WrapperBanner%%
                    
                    <div class="productlist-page">
                        <h1>%%GLOBAL_TrailBrandName%%</h1>
                        %%Banner.TopBanner%%
                        %%Panel.BrandContent%%
                        %%Banner.BottomBanner%%
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            %%Panel.Footer%%
        </div>
    </body>
</html>