%%Panel.HTMLHead%%
    <body>
        %%Panel.DrawerMenu%%
        <div class="page categorypage">
            %%Panel.Header%%
            <div class="main container">
                <div class="inner">
                    %%Panel.WrapperBanner%%
                    %%Panel.CategoryBreadcrumb%%
                    <div class="productlist-page Content">
                        %%Banner.TopBanner%%
                        <div class="product-nav">
                            <div class="TitleHeading inlineBlock">
                            
                                <h1 class="FloatLeft">%%GLOBAL_CatName%%</h1>
                            
                                <div class="txtC-sm">
                                <div class="FloatRight">
                                    %%Panel.SideShopByBrandFull%%
                                </div>
                                 <div class="FloatRight">
                                    %%Panel.ListGrid%%
                                </div>
                                </div>
                            </div>
                                <div class="clear"></div>
                                %%SNIPPET_CategorySortBox%%
                                <div class="clear"></div>
                        </div>
                        %%Panel.CategoryHeading%%
                        <div class="Content Wide %%GLOBAL_ExtraCategoryClass%%" id="LayoutColumn1">
                            %%Panel.CategoryContent%%
                        </div>
                        %%Banner.BottomBanner%%
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            %%Panel.Footer%%
        </div>
    </body>
</html>
