%%Panel.HTMLHead%%
    <body>
        %%Panel.DrawerMenu%%
        <div class="page payment_page">
            %%Panel.Header%%
            <div class="main container">
                <div class="inner">
                    %%Panel.WrapperBanner%%
                    %%Panel.CheckoutBreadcrumb%%
                    <div class="Content Widest" id="LayoutColumn1">
                        <div class="full-width">
                            <div class="Block">
                                <h1 class="TitleHeading" >%%LNG_HC_payfororder%%</h1>
                                <div class="BlockContent">
                                    %%GLOBAL_PaymentFormContent%%
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            %%Panel.Footer%%
        </div>
    </body>
</html>