%%Panel.HTMLHead%%
    <body id="home">
        %%Panel.DrawerMenu%%
        <div class="page">
            %%Panel.Header%%
            %%Panel.HomeSlideShow%%
            <div class="main container">
                <div class="inner">
                    %%Panel.WrapperBanner%%
                    <div class="Content Widest" id="LayoutColumn1">
                        %%Banner.TopBanner%%
                        %%Discount.FreeShippingEligibility%%
                        %%Panel.HomeProductpanel%%
                        %%Banner.BottomBanner%%
                    </div>
                </div>
            </div>
            %%Panel.Footer%%
        </div>
    </body>
</html>