%%Panel.HTMLHead%%
    <body id="home">
        %%Panel.DrawerMenu%%
        <div class="page">
            %%Panel.Header%%
            %%Panel.HomeSlideShow%%
            <div class="main container">
                <div class="inner">
                    %%Panel.WrapperBanner%%
                    <div class="Content Widest" id="LayoutColumn1">
                        %%Banner.TopBanner%%
                        %%Discount.FreeShippingEligibility%%
                        %%Panel.HomeProductpanel%%
                        %%Panel.HomeOccasion%%
                        %%Banner.BottomBanner%%
                    </div>
                </div>
            </div>
            %%Panel.Footer%%
        </div>
        <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us6.list-manage.com","uuid":"b3cb62cf2d83ec2e998376599","lid":"f25c79afb0"}) })</script>
    </body>
</html>​