%%Panel.HTMLHead%%
    <body>
        %%Panel.DrawerMenu%%
        <div class="page empty_blog">
            %%Panel.Header%%
            <div class="main container">
                <div class="inner">
                    %%Panel.WrapperBanner%%
                    <div class="Content">
                        <h1 class="TitleHeading" >%%GLOBAL_BlogName%%</h1>
                        <div class="BlockContent">
                            <p class="InfoMessage Message">
                                There are no posts here yet, please check back later.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            %%Panel.Footer%%
        </div>
    </body>
</html>