%%Panel.HTMLHead%%
    <body>
        %%Panel.DrawerMenu%%
        <div class="page getnewpassword">
            %%Panel.Header%%
            <div class="main container">
                <div class="inner">
                    %%Panel.WrapperBanner%%
                    %%Panel.GetNewPasswordBreadcrumb%%
                    <div class="Content Wide WideWithLeft" id="LayoutColumn2">
                        %%Panel.GetNewPasswordForm%%
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            %%Panel.Footer%%
        </div>
    </body>
</html>