%%Panel.HTMLHead%%
    <body>
        %%Panel.DrawerMenu%%
        <div class="page giftCertificate">
            %%Panel.Header%% 
            <div class="main container">
                <div class="inner">
                    %%Panel.WrapperBanner%%
                    <!-- <div id="PageBreadcrumb" class="Block Breadcrumb Moveable Panel">
                        <ul class="last">
                            <li><a href="%%GLOBAL_ShopPath%%">Home</a></li><li>Gift Cards</li>
                        </ul>
                    </div> -->
                    <div class="full-width page-content row">
                        <div class="Left col-md-3 col-sm-3" id="LayoutColumn1">
                            %%Panel.GiftCertificatesMenu%%
                        </div>
                        <div class="Content col-md-9 col-sm-9" id="LayoutColumn2">
                            <h1 class="TitleHeading">Gift Card</h1>
                            <img class="giftbanner" alt="Gift Cards" src="https://cdn3.bigcommerce.com/s-r7keld18/product_images/uploaded_images/giftcard.jpg?t=1422036335"/>
                            <div style="border:10px solid #ededed; padding: 2%;">
                                <p style="font-size: 14pt; font-family: Book, serif;">We love our Julie Bee’s shoes and hope you love them just as much.  Share the love with your girlfriends, family, and friends with a Julie Bee’s Gift Card for almost any value.   Don’t fret over a loved one’s shoe size, favorite style, or color a gift card will take care of all those details for you.  Happy Gift Giving. </p>
                            </div>
                            %%Panel.PurchaseGiftCertificate%%
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            %%Panel.Footer%%
        </div>
    </body>
</html>