%%Panel.HTMLHead%%
    <body>
        %%Panel.DrawerMenu%%
        <div class="page giftCertificate">
            %%Panel.Header%% 
            <div class="main container">
                <div class="inner">
                    %%Panel.WrapperBanner%%
                    <!-- <div id="PageBreadcrumb" class="Block Breadcrumb Moveable Panel">
                        <ul class="last">
                            <li><a href="%%GLOBAL_ShopPath%%">Home</a></li><li>Gift Cards</li>
                        </ul>
                    </div> -->
                    <div class="full-width page-content row">
                        <div class="Left col-md-3 col-sm-3" id="LayoutColumn1">
                            %%Panel.GiftCertificatesMenu%%
                        </div>
                        <div class="Content col-md-9 col-sm-9" id="LayoutColumn2">
                            <h1 class="TitleHeading">Gift Card</h1>
                            <img class="giftbanner" src="https://cdn3.bigcommerce.com/s-r7keld18/product_images/uploaded_images/giftcard.jpg?t=1422036335"/>
                            %%Panel.PurchaseGiftCertificate%%
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            %%Panel.Footer%%
        </div>
    </body>
</html>