%%Panel.HTMLHead%%
    <body>
        %%Panel.DrawerMenu%%
        <div class="page news">
            %%Panel.Header%%
            <div class="main container">
                <div class="inner">
                    %%Panel.WrapperBanner%%
                    %%Panel.NewsBreadcrumb%%
                    <div class="Left equalize col-md-3 col-sm-3 " id="LayoutColumn1">
                        %%Panel.SideCategoryList%%
                    </div>
                    <div class="Content equalize col-md-9 col-sm-9" id="LayoutColumn2">
                        <h1 class="TitleHeading">News</h1>
                        %%Panel.NewsContent%%
                        %%Panel.NewsComments%%
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            %%Panel.Footer%%
        </div>
    </body>
</html>