%%Panel.HTMLHead%%
    <body>
        %%Panel.DrawerMenu%%
        <div class="page searchpage">
            %%Panel.Header%%
            <div class="main container">
                <div class="inner row">
                    %%Panel.WrapperBanner%%
                    <div class="Content col-md-3 col-sm-4" id="LayoutColumn2" >
                        %%Panel.SearchPageHeader%%
                    </div>
                    <div class="Content Wide col-md-9 col-sm-8" id="LayoutColumn1">
                        <div class="TitleHeading MR20 inlineBlock">
                        <h1 class="FloatLeft">%%LNG_HC_searchresults%%</h1>
                        <div class="FloatRight">
                        %%Panel.ListGrid%%
                        </div>
                        </div>
                        <div class="full-width">
                            %%Banner.TopBanner%%
                            %%Panel.SearchPage%%
                            %%Banner.BottomBanner%%
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            %%Panel.Footer%%
        </div>
    </body>
</html>