%%Panel.HTMLHead%%
    <body>
        %%Panel.DrawerMenu%%
        <div class="page">
            %%Panel.Header%%
            <div class="main container">
                <div class="inner">
                    %%Panel.WrapperBanner%%
                    %%Panel.SitemapBreadcrumb%%
                    <div class="full-width">
                        <div class="Content Widest" id="LayoutColumn1">
                            <h1 class="TitleHeading">%%LNG_Sitemap%%</h1>
                            <p>%%LNG_SitemapIntroduction%%</p>
                            %%Panel.SitemapContent%%
                            %%Banner.BottomBanner%%
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            %%Panel.Footer%%
        </div>
    </body>
</html>