<div style="padding: 0px 20px 20px 20px;">
<h2 style="font-size: 22px; height: 30px; color: #cc6600;"><img class="__mce_add_custom__" style="display: block; margin-left: auto; margin-right: auto;" title="longlogo.jpg" src="%%GLOBAL_ShopPath%%/product_images/uploaded_images/longlogo.jpg" alt="longlogo.jpg" width="148" height="89" /></h2>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;">&nbsp;</p>
<h2 style="font-size: 22px; height: 30px; color: #cc6600;"><span style="color: #000000;">%%LNG_ThanksForRegisteringAt%% %%GLOBAL_StoreName%%</span></h2>
<p>%%LNG_Hi%% %%GLOBAL_FirstName%%,</p>
<p>%%LNG_ThanksForRegisteringAtIntro%%</p>
<p><a href="%%GLOBAL_NewGuestAccountResetLink%%">%%GLOBAL_NewGuestAccountResetLink%%</a></p>
<p>%%LNG_ThanksForRegisteringEmailHelp%%</p>
%%GLOBAL_EmailFooter%%</div>