<div style="padding: 0px 20px 20px; text-align: right;"><a href="https://www.facebook.com/MyJulieBees?ref=hl" target="_blank"><img class="__mce_add_custom__" title="facebook.png" src="%%GLOBAL_ShopPath%%/product_images/uploaded_images/facebook.png" alt="facebook.png" width="85" height="39" /></a>&nbsp;<a href="https://twitter.com/MyJulieBees/" target="_blank"><img class="__mce_add_custom__" title="twitter.png" src="%%GLOBAL_ShopPath%%/product_images/uploaded_images/twitter.png" alt="twitter.png" width="85" height="39" /></a></div>
<div style="padding: 0px 20px 20px; text-align: center;"><img class="__mce_add_custom__" title="longlogo.jpg" src="%%GLOBAL_ShopPath%%/product_images/uploaded_images/longlogo.jpg" alt="longlogo.jpg" width="148" height="89" /></div>
<hr style="border: 1px solid #FF530D;" />
<div style="padding: 0px 20px 20px 20px;">
<h2 style="font-size: 22px; height: 30px; color: #cc6600;"><span style="color: #b4823b;">%%LNG_ThanksForRegisteringAt%% %%GLOBAL_StoreName%%</span></h2>
<p>%%LNG_Hi%% %%GLOBAL_FirstName%%,</p>
<p>%%LNG_ThanksForRegisteringAtIntro%%</p>
<p><strong>%%LNG_EmailAddress%%:</strong> %%GLOBAL_Email%%<br /> <strong>%%LNG_Password%%:</strong> %%GLOBAL_Password%%</p>
<p>%%LNG_ThanksForRegisteringEmailLogin%%</p>
<p>%%LNG_ThanksForRegisteringEmailHelp%%</p>
%%GLOBAL_EmailFooter%%</div>