<div style="padding: 0px 20px 20px 20px;">
<h2 style="font-size: 22px; height: 30px; color: #cc6600; text-align: center;"><span style="color: #000000;"><img class="__mce_add_custom__" title="longlogo.jpg" src="%%GLOBAL_ShopPath%%/product_images/uploaded_images/longlogo.jpg" alt="longlogo.jpg" width="148" height="89" /></span></h2>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h2 style="font-size: 22px; height: 30px; color: #cc6600;"><span style="color: #000000;">%%LNG_GiftCertificateEmailYouHaveReceived%% %%GLOBAL_StoreName%%</span></h2>
<p>%%LNG_Dear%% %%GLOBAL_ToName%%,</p>
<p>%%GLOBAL_Intro%% %%GLOBAL_ExpiryInfo%% %%LNG_GiftCertificateEmailInstructions%%</p>
<p>%%LNG_GiftCertificateEmailAttached%% %%LNG_GiftCertificateEmailWarning%%</p>
%%GLOBAL_EmailFooter%%</div>