<div>%%GLOBAL_NoPaymentTaken%%</div>
<div>&nbsp;</div>
<div><span style="color: #cc6600; font-size: 22px;"><img class="__mce_add_custom__" style="display: block; margin-left: auto; margin-right: auto;" title="longlogo.jpg" src="%%GLOBAL_ShopPath%%/product_images/uploaded_images/longlogo.jpg" alt="longlogo.jpg" width="177" height="106" /></span></div>
<div style="text-align: left;"><span style="color: #cc6600; font-size: 22px;">%%LNG_ThanksForYourOrder%%</span></div>
<div>
<div style="width: 100%; padding: 10px; background-color: #fff4ea;"><img src="%%GLOBAL_IMG_PATH%%/InfoMessage.gif" alt="" />&nbsp; %%LNG_YourOrderIDIs%% <strong>#%%GLOBAL_OrderNumber%%</strong>. %%GLOBAL_ViewOrderStatusMsg%%</div>
%%GLOBAL_PendingPaymentNotice%% <br />
<table style="width: 100%;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td id="Left" valign="top" width="50%">
<h3 style="font-family: Arial; font-size: 18px;">%%LNG_ShippingAddress%%</h3>
<div style="font-family: Arial; font-size: 12px;">%%GLOBAL_ShippingAddress%%</div>
<!--
					<div style="%%GLOBAL_HideShippingEmail%%">%%LNG_Email%%: %%GLOBAL_ShippingEmail%%</div>
					--></td>
<td id="Right" valign="top" width="50%">
<h3 style="font-family: Arial; font-size: 18px;">%%LNG_BillingAddress%%</h3>
<div style="font-family: Arial; font-size: 12px;">%%GLOBAL_BillingAddress%%</div>
<!--
					<div style="%%GLOBAL_HideBillingEmail%%">%%LNG_Email%%: %%GLOBAL_BillingEmail%%</div>
					--></td>
</tr>
</tbody>
</table>
<br /><br /> %%GLOBAL_PendingPaymentDetails%% %%GLOBAL_OrderCommentBlock%%
<h3 style="font-size: 18px;">%%LNG_YourOrderContainsTheFollowingItems%%</h3>
</div>
<div><strong>Questions and Returns:</strong><br /><br /><span>Please visit&nbsp;</span><strong><a href="http://www.myjuliebees.com/website/customercare" target="_blank">www.myjuliebees.com/website/shipping-returns/</a></strong><span>&nbsp;for instructions on how to return an item.</span><br /><strong><br />Julie Bee's</strong><span>&nbsp;is happy to accept all returns within 14 days of your purchase date. All items must be in their original condition and packaging.</span><br /><br /><span>If you have any customer support questions or issues please go to&nbsp;</span><strong><a href="http://www.myjuliebees.com/contact" target="_blank">www.myjuliebees.com/contact</a>&nbsp;</strong><span>or call us at&nbsp;</span><strong><a href="tel:%28404%29%20981-1583" target="_blank">(404) 981-1583</a></strong><span>.</span><br /><br /><br />
<div align="center"><strong><em>Julie Bee's presents an&nbsp;<span>exclusive, luxury, experience for working women with our 12 hour shoes.</span><!--EndFragment--></em></strong></div>
<div align="center"><strong><em>Julie Bee's Handcrafted in the U.S.A.</em></strong></div>
<div align="center"><strong><em>&nbsp;</em></strong></div>
</div>
<div>&nbsp;</div>
<div>%%GLOBAL_CartItemColumns%% %%SNIPPET_CartItems%% %%SNIPPET_TotalRows%% %%SNIPPET_PaymentMethod%% %%GLOBAL_EmailFooter%%</div>