<div style="padding: 0 20px 20px 20px;">
<h2 style="font-size: 22px; height: 30px; color: #cc6600;"><span style="color: #000000;"><img class="__mce_add_custom__" style="display: block; margin-left: auto; margin-right: auto;" title="longlogo.jpg" src="%%GLOBAL_ShopPath%%/product_images/uploaded_images/longlogo.jpg" alt="longlogo.jpg" width="148" height="89" /></span></h2>
<h2 style="font-size: 22px; height: 30px; color: #cc6600;">&nbsp;</h2>
<h2 style="font-size: 22px; height: 30px; color: #cc6600; border-bottom: dashed 1px gray;">&nbsp;</h2>
<h2 style="font-size: 22px; height: 30px; color: #cc6600; border-bottom: dashed 1px gray;"><span style="color: #000000;">%%LNG_ReplyToYourOrderMessage%%</span></h2>
<p>%%LNG_ThisIsAnAutomatedMessage%%</p>
<p>%%GLOBAL_StoreName%% %%LNG_MessageEmailText1%%<br /> %%LNG_MessageEmailText2%%</p>
<p><a href="%%GLOBAL_ShopPath%%/account.php?action=inbox">%%GLOBAL_ShopPath%%/account.php?action=inbox</a></p>
%%GLOBAL_EmailFooter%%</div>