<div style="padding: 0px 20px 20px; text-align: right;"><a href="https://www.facebook.com/MyJulieBees?ref=hl" target="_blank"><img class="__mce_add_custom__" title="facebook.png" src="%%GLOBAL_ShopPath%%/product_images/uploaded_images/facebook.png" alt="facebook.png" width="85" height="39" /></a>&nbsp;<img class="__mce_add_custom__" title="twitter.png" src="%%GLOBAL_ShopPath%%/product_images/uploaded_images/twitter.png" alt="twitter.png" width="85" height="39" /></div>
<div style="padding: 0px 20px 20px; text-align: center;"><img class="__mce_add_custom__" title="longlogo.jpg" src="%%GLOBAL_ShopPath%%/product_images/uploaded_images/longlogo.jpg" alt="longlogo.jpg" width="148" height="89" /></div>
<hr style="border: 1px solid #FF530D;" />
<div style="padding: 0px 20px 20px 20px;">
<h2 style="font-size: 22px; height: 30px; color: #cc6600; border-bottom: dashed 1px gray;"><span style="color: #b4823b;">%%LNG_StatusOfReturnChanged%%</span></h2>
<p>%%LNG_Hi%% %%GLOBAL_CustomerFirstName%%,</p>
<p>%%LNG_RecentlySubmittedReturnRequest%%</p>
<p>%%GLOBAL_ProductQuantity%% x %%GLOBAL_ProductName%%</p>
<p>%%LNG_ReturnStatusChangedTo%% <strong>%%GLOBAL_ReturnStatus%%</strong>. %%GLOBAL_ReturnReceivedCredit%%</p>
%%GLOBAL_ReturnInstructions%%
<p><a href="%%GLOBAL_ShopPath%%/account.php?action=view_returns">%%LNG_ClickToViewReturnStatus%%</a></p>
%%GLOBAL_EmailFooter%%</div>