<div style="padding: 0px 20px 20px; text-align: right;"><a href="https://www.facebook.com/MyJulieBees?ref=hl" target="_blank"><img class="__mce_add_custom__" title="facebook.png" src="%%GLOBAL_ShopPath%%/product_images/uploaded_images/facebook.png" alt="facebook.png" width="85" height="39" /></a>&nbsp;<a href="https://twitter.com/MyJulieBees/" target="_blank"><img class="__mce_add_custom__" title="twitter.png" src="%%GLOBAL_ShopPath%%/product_images/uploaded_images/twitter.png" alt="twitter.png" width="85" height="39" /></a></div>
<div style="padding: 0px 20px 20px; text-align: center;"><img class="__mce_add_custom__" title="longlogo.jpg" src="%%GLOBAL_ShopPath%%/product_images/uploaded_images/longlogo.jpg" alt="longlogo.jpg" width="148" height="89" /></div>
<hr style="border: 1px solid #FF530D;" />
<h2 style="font-size: 22px; height: 30px; color: #cc6600; border-bottom: dashed 1px gray;"><span style="color: #b4823b;">%%LNG_NotificationConfirmationForReturn%%</span> <span style="color: #b4823b;">#%%GLOBAL_OrderId%%</span></h2>
<div style="width: 100%; padding: 10px; background-color: #fff4ea;"><span style="color: #b4823b;"><img src="%%GLOBAL_IMG_PATH%%/InfoMessage.gif" alt="" />&nbsp; %%LNG_NotificationAReturnSummaryIsShownBelow%% <a href="%%GLOBAL_ShopPath%%/account.php?view=returns"><span style="color: #b4823b;">%%LNG_ClickHere%%</span></a>.</span></div>
<p>&nbsp;</p>
<table style="width: 100%;" cellspacing="0" cellpadding="4">
<tbody>
<tr>
<td style="font-family: Arial; font-size: 12px; font-weight: bold;" nowrap="nowrap" width="25%">%%LNG_ReturnReason%%:</td>
<td style="font-family: Arial; font-size: 12px;">%%GLOBAL_ReturnReason%%</td>
</tr>
<tr style="display: %%GLOBAL_HideReturnAction%%;">
<td style="font-family: Arial; font-size: 12px; font-weight: bold;" nowrap="nowrap" width="25%">%%LNG_ReturnAction%%:</td>
<td style="font-family: Arial; font-size: 12px;">%%GLOBAL_ReturnAction%%</td>
</tr>
<tr>
<td style="font-family: Arial; font-size: 12px; font-weight: bold;" valign="top" nowrap="nowrap">%%LNG_YourComments%%:</td>
<td style="font-family: Arial; font-size: 12px;">%%GLOBAL_ReturnComments%%</td>
</tr>
</tbody>
</table>
<h3 style="font-size: 13px; color: #cc6600;"><span style="color: #b4823b;">%%LNG_NotificationYourReturnContainsTheFollowingItems%%</span></h3>
<table id="CheckoutCartGrid" style="width: 100%;" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="font-family: Arial; font-size: 12px; background-color: #020b6f; color: white; padding: 5px; font-weight: bold;" nowrap="nowrap">%%LNG_ReturnItems%%</td>
<td style="font-family: Arial; font-size: 12px; background-color: #020b6f; color: white; padding: 5px; font-weight: bold;" nowrap="nowrap" width="120">%%LNG_Qty%%</td>
</tr>
</tbody>
</table>
<p>%%SNIPPET_ReturnItems%% %%GLOBAL_EmailFooter%%</p>