<link rel="stylesheet" type="text/css" href="%%ASSET_Styles/homeOccasion.css%%">
<div class="container HomeOccasion">
	<div class="inner">
		<div class="Main_inner row">
			<h2>Shop The Occasion</h2>
			<ul class="Category">
				<li class="subCategory effect col-md-6 col-sm-6 col-xs-12">
					<img src="https://cdn3.bigcommerce.com/s-r7keld18/product_images/uploaded_images/style-cocktail-party.jpg?t=1421451657">
					<a href="http://julie-bee-amp--039-s.mybigcommerce.com/cocktail-party/">
						<div class="mask">
							<h3 class="info">Cocktail Party</h3>
						</div>
					</a>
				</li>
				<li class="subCategory effect col-md-6 col-sm-6 col-xs-12">
					<img src="https://cdn3.bigcommerce.com/s-r7keld18/product_images/uploaded_images/style-wedding.jpg?t=1421449318">
					<a href="http://julie-bee-amp--039-s.mybigcommerce.com/weddings/">
						<div class="mask">
							<h3 class="info">Wedding Styles</h3>
						</div>
					</a>
				</li>
			</ul>

			<ul class="Category"> 
				<li class="subCategory effect col-md-6 col-sm-6 col-xs-12">
					<img src="https://cdn3.bigcommerce.com/s-r7keld18/product_images/uploaded_images/style-night-out.jpg?t=1421449317">
					<a href="http://julie-bee-amp--039-s.mybigcommerce.com/night-out/">
					<div class="mask">
						<h3 class="info">Night Out</h3>
					</div>
					</a>
				</li>
				<li class="subCategory effect col-md-6 col-sm-6 col-xs-12">
					<img src="https://cdn3.bigcommerce.com/s-r7keld18/product_images/uploaded_images/stylebusinesses.jpg?t=1421449318">
					<a href="http://julie-bee-amp--039-s.mybigcommerce.com/work/">
					<div class="mask">
						<h3 class="info">Corporate Chic</h3>
					</div>
					</a>
				</li>

			</ul>
		</div>
	</div>
</div>