<div class="Homebanner">
	<div class="inner">
		<ul class="Main_inner row">
		    <li class="home_banner1 col-md-2 col-sm-2">
		    <!-- the button for how it works link --> 
			    <a href="#"> <button class="btn btn-primary btn-lg how" type="button">
				<p>How</p>
				<p>It</p>
				<p>Works?</p>
				</button> </a>
			</li>
		    <li class="home_banner2 col-md-10 col-sm-10">
			   <!-- <div class="BlockContent"> -->
		        <div class="Block Moveable Panel" id="WeeklyExclusives">
				    <h1 class="ProductListName">THIS WEEK'S EXCLUSIVE OFFERS</h1>
				    <div class="BlockContent">
				        <ul class="ProductList row" id="CategoryContent">
				            
				        </ul>
				    </div>
				</div>
		    </div>
			</li>
		</ul>
	</div>
</div>



<script type="text/javascript">
if($('#exclusive > li').length > 4){
    $("#exclusive").flexisel({
        enableResponsiveBreakpoints: true,
        clone:false,
        responsiveBreakpoints: { 
            portrait: { 
                changePoint:480,
                visibleItems: 1
            }, 
            landscape: { 
                changePoint:640,
                visibleItems: 2
            },
            tablet: { 
                changePoint:991,
                visibleItems: 3
            }
        }
    });
}
</script>