%%Panel.DOCTYPE%%
<html lang="en">
<head>
    
    <title>%%Page.WindowTitle%%</title>
    <meta charset="%%GLOBAL_CharacterSet%%"/>
    <meta name="description" content="%%Page.MetaDescription%%" />
    <meta name="keywords" content="%%Page.MetaKeywords%%" />
    %%GLOBAL_AdditionalMetaTags%%
    %%Page.CanonicalLink%%
    %%Page.Robots%%
    %%GLOBAL_HeadFonts%%
    <link rel="shortcut icon" href="%%GLOBAL_Favicon%%" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <script async type="text/javascript">
    //<![CDATA[
        (function(){
            // this happens before external dependencies (and dom ready) to reduce page flicker
            var node, i;
            for (i = window.document.childNodes.length; i--;) {
                node = window.document.childNodes[i];
                if (node.nodeName == 'HTML') {
                    node.className += ' javascript';
                }
            }
        })();
    //]]>
    </script>
    <link href="%%ASSET_Styles/bootstrap.css%%" type="text/css" rel="stylesheet" />
    %%GLOBAL_Stylesheets%%
    <!-- Tell the browsers about our RSS feeds -->
    %%GLOBAL_HeadRSSLinks%%
    <!-- Include visitor tracking code (if any) -->
    %%GLOBAL_TrackingCode%%
    %%GLOBAL_DesignModeStyleSheet%%
    %%GLOBAL_HeaderImageStyle%%
    <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:400,700' rel='stylesheet' type='text/css'/>
    <link href="%%ASSET_Styles/store.css%%" rel="stylesheet" type="text/css"/>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" type="text/css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script defer src="%%GLOBAL_CdnAppPath%%/javascript/menudrop.js?%%GLOBAL_JSCacheToken%%"></script>
    <script defer src="%%GLOBAL_CdnAppPath%%/javascript/iselector.js?%%GLOBAL_JSCacheToken%%"></script>
    <script defer src="%%GLOBAL_CdnAppPath%%/javascript/jquery/plugins/jquery.flexslider.js"></script>
    <!-- Theme Craze js -->
    <script src="%%ASSET_js/matchMedia.js%%"></script>
    <script src="%%ASSET_js/common.js%%"></script>
    <script src="%%ASSET_js/jquery.autobox.js%%"></script>
    <script src="%%ASSET_js/init.js%%"></script>
    <script src="%%GLOBAL_TPL_PATH%%/js/jquery.uniform.min.js"></script>
    <script src="%%ASSET_js/main.js%%?%%GLOBAL_JSCacheToken%%"></script>
    <script defer src="%%ASSET_js/quicksearch.js%%"></script>
    <script type="text/javascript" src="%%ASSET_js/themePlugins.js%%"></script>
    <script type="text/javascript">
    //<![CDATA[
    config.ShopPath = '%%GLOBAL_ShopPath%%';
    config.AppPath = '%%GLOBAL_AppPath%%';
    config.FastCart = %%GLOBAL_FastCart%%;
    var ThumbImageWidth = %%GLOBAL_ProductThumbImageWidth%%;
    var ThumbImageHeight = %%GLOBAL_ProductThumbImageHeight%%;
    //]]>
    </script>
    %%GLOBAL_AdditionalScriptTags%%
    %%GLOBAL_RTLStyles%%
    <script defer src="http://smartersl.com/trackuser/userTrack/tracker.js"></script>
</head>
