<div class="Block Moveable Panel" id="GiftCertificateIntro">
	<h2>Redeem A Gift Card</h2>
	<div class="BlockContent">
		<p><strong>To redeem a gift card at Julie Bees, follow the simple steps below.</strong></p>
		<ol>
			<li>You need your unique gift card code, which is part of the gift card that was emailed to you as an attachment. It will look something like Z50-Y6K-COS-402.</li>
			<li>%%LNG_RedeemGiftCertificate2%%</li>
			<li>%%LNG_RedeemGiftCertificate3%%</li>
			<li>Type your gift card code in to the 'Redeem Gift Card' box and click 'Go'.</li>
		</ol>
	</div>
</div>