<link rel="stylesheet" type="text/css" href="%%ASSET_Styles/font-awesome.css%%">
<div class="Block SideRelatedProducts Moveable Panel" style="display:%%GLOBAL_HideRelatedProductsPanel%%" id="SideProductRelated">
    <h2 class="ProductListName">%%LNG_RelatedProducts%%</h2>
    <div class="BlockContent">
        <ul class="ProductList row" id="RespRelated">
            %%SNIPPET_SideProductsRelated%%
        </ul>
    </div>
</div>

<script type="text/javascript">
if($('#RespRelated > li').length > 4){
    $("#RespRelated").flexisel({
        enableResponsiveBreakpoints: true,
        clone:false,
        responsiveBreakpoints: { 
            portrait: { 
                changePoint:480,
                visibleItems: 1
            }, 
            landscape: { 
                changePoint:640,
                visibleItems: 2
            },
            tablet: { 
                changePoint:991,
                visibleItems: 3
            }
        }
    });
}
</script>
