.arrow{position:fixed;z-index:1;top:19%;font-size:30px!important;text-align:center;left:8%;color:inherit}
.arrow:hover{color:inherit}
.arrowRev{display:inline-block;vertical-align:middle;float:right;color:#232323;font-size:1.3em!important}
.sidemenu{width:100px;height:35px;background-color:#FDFDFD;position:fixed;z-index:1;left:28px;top:18.5%;border:1px solid #616161}
.sidemenu:hover{box-shadow:0 40px 0 #232323 inset;background-color:#232323;color:#FFF!important;transition:all .3s ease 0s;border:1px solid #616161}
.sidemenu h4{margin-left:8%;line-height:1.9em}
.sidemenu h4:hover{color:inherit}
.slideout-menu{position:fixed;top:0;left:-250px;width:250px;height:100%;background:#fff;border:1px solid #232323;z-index:100}
.slideout-menu h3{position:relative;padding:12px 10px;color:#232323;font-size:1.2em;font-weight:400;border-bottom:4px solid #b4823b;text-transform:uppercase}
.slideout-menu .slideout-menu-toggle:hover{color:#232323}
.slideout-menu ul{list-style:none;font-weight:300}
.slideout-menu ul>li{border-top:1px solid #b4823b}
.slideout-menu ul>li:first-child{border-top:none}
.slideout-menu ul>li a{position:relative;display:block;padding:10px;color:#232323;text-decoration:none;font-size:14px;text-transform:uppercase}
.slideout-menu ul li a:hover{color:#fff}
.slideout-menu ul li a i{position:absolute;top:15px;right:10px;opacity:.5}
.text{font-size:14px;padding:2%;line-height:2em;text-transform:uppercase}
#SideShopByBrandFull{margin-bottom:5px}
.categoryAccordion ul>li{width:100%;border:none}
.categoryAccordion>ul>li>a{text-transform:none;font-size:1em;padding:0;color:#5C5C5C;margin-left:10px}
.categoryAccordion>ul>li>a:hover{color:#B4823B!important}
.categoryAccordion .sf-menu li.sfHover ul,.categoryAccordion .sf-menu li:hover ul{left:65%;width:200px;font-size:.95em}