.slide-show ul li{padding:0;margin:0}
#HeaderLower{border-top:4px solid #333}
#SideCategoryList .sf-menu li li,#SideCategoryList li li{background-image:none;position:relative}
#SideCategoryList .sf-menu li li:last-child,#SideCategoryList li li:last-child{border:0}
#SideCategoryList .sf-menu li ul li ul,#SideCategoryList li ul li ul{border:0 solid #333}
.Block.banner_brand_page_bottom div .text.text-light *,.Block.banner_category_page_bottom div .text.text-light *,.Block.banner_home_page_bottom div .text.text-light *,.Block.banner_search_page_bottom div .text.text-light *{color:#fff!important;text-shadow:1px 1px 2px #333!important}
a.btn_link{color:#fff!important;background:#333;padding:2px 10px!important}
.Right .Block h2,.Right li{border-bottom:1px solid #d6d6d6}
.Content .ProductList .ProductImage{background:0 0}
.ProductList .Rating{color:#9a9a9a}
.Right .TopSellers li .TopSellerNumber{display:none}
.CompareItem{border-left:1px solid #d6d6d6}
.CompareFieldName{font-weight:700;border-bottom:1px solid #EEE;text-transform:uppercase}
.CompareFieldTop{border-bottom:1px solid #EEE;font-size:15px;padding:10px;text-transform:uppercase}
.CompareFieldTop a:hover{color:#333}
.CartContents tfoot .SubTotal td div{padding:20px 0;position:relative;overflow:hidden}
.JustAddedProduct{border:1px solid #d6d6d6;background:#fff}
.CartContents tfoot .CheckoutRedeemCoupon{background:#fff;border:0 solid #d6d6d6;height:100%;line-height:4.2em;margin:0;padding:0 10px;text-align:right}
.CartContents tfoot .CheckoutRedeemCoupon td{padding-right:0;font-weight:700}
.InfoMessage{margin-bottom:20px}
.ErrorMessage,.SuccessMessage{background-color:#FFF;border:1px solid #D6D6D6;margin:0 0 20px;padding:10px}
.SuccessMessage{background:url(../images/SuccessMessage.gif) 15px center no-repeat #EDFFE7;border-color:#E0F6D8;color:#528F3B;padding-left:48px}
.ErrorMessage{background:url(../images/ErrorMessage.gif) 15px center no-repeat #f8eae7;color:#b42525;border-color:#f1d8d4;padding-left:55px}
.ComparisonTable tr.Over td,.ComparisonTable tr:hover td{background:#fff}
.QuickSearchResult .Price{color:#333}
.SearchTips .Examples{background:#fff}
.Right hr{background:0 0;border:0}
.MiniCart .SubTotal{color:#333}
.EstimateShipping{background:#fff;border:1px solid #d6d6d6;text-align:left}
.videoRow:hover{background-color:#ededed}
.CartContents .ItemShipping th{border-bottom-color:#d6d6d6;border-top-color:#d6d6d6;background:#fff;color:#2f2f2f}
.fastCartSummaryBox{background-color:#eaeaea}
.ProductTinyImageList li,.TinyOuterDiv{border-color:#eee!important}
#prodAccordion .Block:last-child{border-bottom:1px solid #d6d6d6}