.icon-social{background:url(%%GLOBAL_TPL_PATH%%/images/sprite-social-default.png) no-repeat;height:25px;width:25px}
.icon-facebook{background-position:0 0}
.is-disabled.icon-facebook{background-position:-65px 0}
.icon-facebook:focus,.icon-facebook:hover{background-position:-130px 0}
.icon-googleplus{background-position:0 -40px}
.is-disabled.icon-googleplus{background-position:-65px -40px}
.icon-googleplus:focus,.icon-googleplus:hover{background-position:-130px -40px}
.icon-tumblr{background-position:0 -80px}
.is-disabled.icon-tumblr{background-position:-65px -80px}
.icon-tumblr:focus,.icon-tumblr:hover{background-position:-130px -80px}
.icon-twitter{background-position:0 -120px}
.is-disabled.icon-twitter{background-position:-65px -120px}
.icon-twitter:focus,.icon-twitter:hover{background-position:-130px -120px}
.icon-pinterest{background-position:0 -160px}
.is-disabled.icon-pinterest{background-position:-65px -160px}
.icon-pinterest:focus,.icon-pinterest:hover{background-position:-130px -160px}
.icon-stumbleupon{background-position:0 -200px}
.is-disabled.icon-stumbleupon{background-position:-65px -200px}
.icon-stumbleupon:focus,.icon-stumbleupon:hover{background-position:-130px -200px}
.icon-youtube{background-position:0 -240px}
.is-disabled.icon-youtube{background-position:-65px -240px}
.icon-youtube:focus,.icon-youtube:hover{background-position:-130px -240px}
.icon-linkedin{background-position:0 -280px}
.is-disabled.icon-linkedin{background-position:-65px -280px}
.icon-linkedin:focus,.icon-linkedin:hover{background-position:-130px -280px}
.icon-rss{background-position:0 -320px}
.is-disabled.icon-rss{background-position:-65px -320px}
.icon-rss:focus,.icon-rss:hover{background-position:-130px -320px}
.footer-main .SocialConnect li{display:inline-block;float:right;margin-right:8px;width:auto}
.icon-social{display:inline-block;text-align:left;text-indent:-9999px;vertical-align:middle}
.icon-social.icon-social-theme{background-image:url(%%GLOBAL_TPL_PATH%%/images/craze/sprite-social1.png)}