.AddToWishlistLink .wishlist-button,.SortBox{color:#5c5c5c}
.TopMenu{color:#8f8f8f}
.TopMenu a{color:#696865}
.TopMenu a:hover{color:#5c5c5c}
.PageMenu .inner{background:#fff}
.PageMenu li ul{background:#FBFBFB}
.PageMenu li ul:before{border-color:transparent transparent #696866}
.footer-links{color:#9c9c9c}
.footer-links a{color:#c2c2c2}
.footer-links a:hover{color:#9c9c9c}
#SearchForm input,.HorizontalFormContainer dd .selector span,.fastCartTop div,.list-icon li,body,input,input [type="text "],input.Textbox,select,textarea{color:#5c5c5c}
#ModalContent,.CurrencyChooser a span,.ModalContent{color:#5c5c5c!important}
.Left #GiftCertificatesMenu li a,.Left #SideAccountMenu li a,.Left #SideCategoryList li a,.Left #SideCategoryList li li a,.Left .afterSideShopByBrand a,.Left .slist li a,.Left .slist li li a,.Left li li a,.ModalContent h4 a:hover,.TabNav li.Active a,.footer a:hover,.header-logo a,a{color:#5c5c5c}
#ModalContent a,.ModalContent a,.page-content #LayoutColumn2 a.pname,.recaptchatable a{color:#5c5c5c!important}
.Left li a.active:hover{border-color:#5c5c5c}
.icon-add:hover{background-color:#5c5c5c!important}
.multiStep li a{color:#9c9c9c}
.BlockContent.PageContent a,.BulkDiscountLink a,.Left #GiftCertificatesMenu li a:hover,.Left #SideAccountMenu li a:hover,.Left #SideCategoryList li a:hover,.Left .afterSideShopByBrand a:hover,.Left .slist li a:hover,.Left li a.active,.PageMenu li ul li a:hover,.currency-converter p span,.page-content #LayoutColumn2 a,a.NextLink,a.alt,a:hover,p a{color:#B4823B}
#ModalContent a:hover,.ModalContent a:hover,.page-content #LayoutColumn2 a.pname:hover,.recaptchatable a:hover{color:#B4823B!important}
a.alt:hover{background-color:#B4823B;color:#fff}
.multiStep li.ActivePage h4{border-bottom:4px solid #B4823B}
.icon-add{background:url(../images/add.png) 50% 50% no-repeat #B4823B}
.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6{font-family:"Source Sans Pro",Arial,Sans-serif;color:#5c5c5c}
.h1,h1{font-family:"Source Sans Pro",Arial,Sans-serif;color:#B4823B;text-align:center}
.productOptionViewProductPickListWithImage td{border-bottom:1px dotted #fff}
.TopMenu li.Flag img.Selected{border:2px solid #fff}
.productOptionPickListSwatch .selectedValue .swatchColours,.productOptionPickListSwatch .selectedValue .textureContainer{border:1!important;border-color:#595959!important}
#ProductDetails .ProductTinyImageList ul li.selected,.productOptionPickListSwatch .swatchColours,.productOptionPickListSwatch .textureContainer,.productOptionViewRectangle .option label,.recaptchatable #recaptcha_response_field,.zoomWrapper{border:1!important}
#SearchForm .Button,#SearchForm input.Textbox,.CurrencyChooser,.CurrencyList dd,.ExpressCheckoutBlock .ExpressCheckoutTitle,.HowToPay,.NotifyMessage,.QuickSearch,.QuickSearchResult .QuickSearchResultImage,.SharePublicWishList,.TabNav li a,.recaptchatable,.selected-currency,div.selector,div.uploader,hr,input [type="text "],input [type="password "],input.Textbox,select,textarea{border:1}
.ExpressCheckoutBlockCompleted .ExpressCheckoutCompletedContent,div.uploader span.action{border-left:1}
.TabNav,.TitleHeading{border-bottom:1}
.ProductList.List .ProductDetails{border-top:1}
.btn{background-color:#B4823B!important;color:#fff!important}
.btn:hover{background-color:#232323!important;color:#fff!important}
.btn.alt{background-color:#B4823B;color:#fff}
a.btn.alt{color:#fff}
.btn.alt:hover{background-color:#232323}
.btn.text{color:#FFF}
#Header>.inner,.PageMenu>.inner,.TopMenu>.inner,.footer-links>.inner,.footer-main>.inner,.main>.inner,.newsletter-subscription>.inner{max-width:960}
@media screen and (max-width:768px){.TabNav li.Active a{border-bottom:1}}
@media screen and (max-width:600px){.BillingDetails,.ShippingDetails{border-top:1}}
@media screen and (max-width:480px){#cart-amount .Cart .total{background:#5c5c5c;color:#fff}
#cart-amount .Cart .bag-handle{border:2px solid #5c5c5c}}