<li class="%%GLOBAL_AlternateClass%% col-md-3 col-sm-4">
    <div id="img_%%GLOBAL_ProductId%%" class="ProductImage" data-product="%%GLOBAL_ProductId%%">
        %%GLOBAL_ProductThumb%%
    </div>
    <div class="ProductDetails">
        <div class="ProductVisibleDetails">
            <a id="link_%%GLOBAL_ProductId%%" data-href="%%GLOBAL_ProductLink%%" href="%%GLOBAL_ProductLink%%" class="pname">%%GLOBAL_ProductName%%</a>
            <em class="p-price">%%GLOBAL_ProductPrice%%</em>
        </div>
        <div class="itemlist" style="display: none;">
        <div class="buttonbefore"></div>
           <div class="ProductActionAdd" style="display:%%GLOBAL_HideActionAdd%%;">
            <a href="%%GLOBAL_ProductURL%%" class="btn icon-%%GLOBAL_ProductAddText%%" title="%%GLOBAL_ProductAddText%%">%%GLOBAL_ProductAddText%%</a>
        </div>
        <div class="buttonafter"></div>
        <div class="ProductPriceRating">
            <span class="Rating Rating4"><img src="%%GLOBAL_IMG_PATH%%/IcoRating%%GLOBAL_ProductRating%%.png" alt="product rating stars" /></span>
        </div>
        <div class="listimage">
            <ul>
                <li class="addtowishlist">
                    <a onclick="addToWishList('%%GLOBAL_ProductLink%%','%%GLOBAL_ProductId%%')" title="Add to Wishlist" href="javascript:void(0)"><i class="wishLink glyphicon glyphicon-heart "></i></a>
                </li>
                <li class="compare">
                    <a onclick="addToCompare('%%GLOBAL_ProductId%%');" href="javascript:void(0)"><i class="glyphicon glyphicon-random"></i></a>
                </li>
                <li class="View">
                    <div class="QuickView" data-product="%%GLOBAL_ProductId%%"></div>
                </li>
            </ul>
        </div>
    </div>
    </div>
</li>