<li class="%%GLOBAL_AlternateClass%% col-md-4 col-sm-6">
    <div id="img_%%GLOBAL_ProductId%%" class="ProductImage" data-product="%%GLOBAL_ProductId%%">
        %%GLOBAL_ProductThumb%%
    </div>
    
    <div class="ProductDetails">
        <div class="ProductVisibleDetails">
            <a id="link_%%GLOBAL_ProductId%%" data-href="%%GLOBAL_ProductLink%%" href="%%GLOBAL_ProductLink%%" class="pname">%%GLOBAL_ProductName%%</a>
            <em class="p-price">%%GLOBAL_ProductPrice%%</em>
        </div>
        <form class="RemoveFromWishlistForm" action="%%GLOBAL_ShopPath%%/wishlist.php" method="get" style="%%GLOBAL_HideRemoveItemButton%%">
            <input type="hidden" name="wishlistid" value="%%GLOBAL_WishListID%%" />
            <input type="hidden" name="action" value="remove" />
            <input type="hidden" name="item_id" value="%%GLOBAL_ItemId%%" />
            <input type="submit" value="%%LNG_Remove%%" class="btn" />
        </form>
    </div>
    
</li>
